@font-face {
  font-family: "handwriting";
  src:
    url("fonts/journal-webfont.woff2") format("woff2"),
    url("fonts/journal-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "typewriter";
  src:
    url("fonts/veteran_typewriter-webfont.woff2") format("woff2"),
    url("fonts/veteran_typewriter-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* Reset some default browser styles */
body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

/* Global styles */
body {
  font-family: Arial, sans-serif;
}

header {
  
  color: white;
  padding: 10px 0;
  font: 2rem "typewriter";
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 20px;
  background-color: burlywood;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;

}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

a:hover{
  background-color: brown;
}

main {
  padding: 20px;
  
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
}

.logout-link {
  text-align: center;
  margin-top: 20px;
;
}

.logout-link a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}
.read-more-button {
  background-color: #333;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.blog-content {
  display: none;
}


/* Responsive styles */
@media screen and (max-width: 768px) {
  nav ul {
      flex-direction: column;
      align-items: center;
  }

  nav ul li {
      margin: 10px 0;
  }
}
